.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
_freeze/notebooks/eda_places/execute-results/html.json
_freeze/notebooks/gps_eda/execute-results/html.json
_manuscript/notebooks/eda_places-preview.html
_manuscript/notebooks/eda_places.embed.ipynb
