.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
_freeze/notebooks/eda_places/execute-results/html.json
_freeze/notebooks/gps_eda/execute-results/html.json
_manuscript/notebooks/eda_places-preview.html
_manuscript/notebooks/eda_places.embed.ipynb
_manuscript/notebooks/eda_places.out.ipynb
_manuscript/notebooks/gps_eda-preview.html
_manuscript/notebooks/gps_eda-preview.html
_manuscript/notebooks/gps_eda.out.ipynb
notebooks/gps_eda.rmarkdown
_manuscript/notebooks/places_eda-preview.html
_manuscript/notebooks/enriched_eda-preview.html
_manuscript/notebooks/places_eda-preview.embed.ipynb
_manuscript/notebooks/enriched_eda-preview.embed.ipynb
_manuscript/notebooks/places_eda-preview.out.ipynb
_manuscript/notebooks/enriched_eda-preview.out.ipynb
_freeze/notebooks/eda_places/execute-results/html.json
_freeze/notebooks/gps_eda/execute-results/html.json
_manuscript/notebooks/eda_places-preview.html
